<div class="dream-group">
  {{# each this.dreams}}
  <div class="dream-item">
    <div class="dream-head">
      <a href="/dream/{{this._id}}"><h1>{{this.dream.title}}</h1></a>
      <p>Created at: <span id="created-at">{{this.createdAt}}</span></p>
    </div>
    <p id="dream-entry"> {{this.entry}}</p>
    <div class="tag-group">
      <p id="tags">Tags:</p>
        {{# each this.tags}}
        <a href="/dream/tag/{{this}}"><button type="button" class="tag-button" name="{{this}}">{{this}}</button></a>
        {{/ each}}
    </div>
  </div>
  {{/ each}}
</div>
